{% extends "blog/base.html" %}

{% block content %}
<div>
    <h2>
        About Us 
    </h2>
    <p>
        Welcome to Tik Blog, your number one source Information. We're dedicated to giving you the very best of info, with a focus on authenticity, and accuracy.
        Founded in 2020 by Haddie Bakrie, Tik Blog has come a long way from its beginnings in January. When Haddie first started out, his passion for news blog drove him to doing tons of research so that Tik Blog can offer you the world's most legit information. We now serve customers all over the world, and are thrilled that I am able to turn our passion into my own website.
        I hope you enjoy the blogs as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact me.
        Sincerely,
        Haddie Bakrie
    </p>
</div>

{% endblock content %}