{% block content %}

<div class="category-banner">
    <div class="banner-bg"></div>
    <div class="text-area">
        <h1>{{ category.title }}</h1>
        {% if category.desctiption %}
            <h3> {{ category.description }}</h3>
        {% else %} 
        <h3>Some amazing topics for YOU</h3>
        {% endif %}
    </div>
</div>
<div class="col-mid">
    <div>
        {% for post in category.post.all %}
        <div class="post-ccard">
            <a >{{post.author | title }}</a><small class="muted"> &#x2022; {{ post.created_on | date:'M d, Y'}}</small><svg class='svg' ><path d="M7.44 2.32c.03-.1.09-.1.12 0l1.2 3.53a.29.29 0 0 0 .26.2h3.88c.11 0 .13.04.04.1L9.8 8.33a.27.27 0 0 0-.1.29l1.2 3.53c.03.1-.01.13-.1.07l-3.14-2.18a.3.3 0 0 0-.32 0L4.2 12.22c-.1.06-.14.03-.1-.07l1.2-3.53a.27.27 0 0 0-.1-.3L2.06 6.16c-.1-.06-.07-.12.03-.12h3.89a.29.29 0 0 0 .26-.19l1.2-3.52z"></path></svg>
            <a href="{% url 'post_detail' post.category.slug post.slug %}" class="title"><h2>{{ post.title}}</h2></a>
            
            {% if post.image %}
            <div>
                <img class="img" src="{{ post.image.url }}">
            </div> 
            {% endif %}
            <p class="body">{{ post.content | truncatechars:"200"}}</p>
            <a href="{% url 'post_detail' post.category.slug post.slug %}"> Read more</a><small class="muted"> &#x2022; {{ post.get_readtime }} read</small>
            <div class="post-reactions">
                <span>
                    <i class="far fa-heart"><small>180</small></i>
                </span>
                <span>
                    <i class="far fa-comment-alt"><small>5</small></i>
                </span>
                <span>
                    <i class="far fa-share-square"><small>890</small></i>
                </span>
                <span>
                    <i class="far fa-bookmark"></i>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}