<div class="footer">
    <div class="column">
        <div class="headline"><h5>Resources</h5></div>
        <ul>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Blog</a></li>
        </ul>
    </div>
    <div class = 'column'>
        <div class="headline"><p>Support</p></div>
        <address class='addr'>
        <ul>
            <li>
            <a href="#" class='icon-text'><i class="fa fa-envelope m4"></i>info@tikblog.com</a>
            </li>
        </ul>
        </address>

    </div>
    <div class="column">
        <div class="headline"><p>Company</p></div>
        <ul>
        <li><a href="#"><i class="fa fa-angle-double-right"></i>About Us</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i>Terms of Use</a></li>
        </ul>
    </div>

</div>